body {
  font-family: 'Poppins', sans-serif;
}


.signup-button {
  background-color: #00B3AD;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 14px;
}

.signup-button:hover {
  background-color: #3BAFA8;
}

